<div class="container">
    <form class="form mat-elevation-z8">
        <h1>OS - Ericom Telecomunicações</h1>

        <img src="assets/img/login-image.svg" alt="OS-Ericom" />

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input [formControl]="email" required [(ngModel)]="creds.email" name="email" matInput placeholder="fulano@mail.com" />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input [formControl]="senha" required [(ngModel)]="creds.senha" name="senha" type="password" matInput placeholder="Exemplo 123" />
        </mat-form-field>

        <button [disabled]="!validaCampos()" class="full-width mat-elevation-z4" mat-stroked-button color="primary">
      Login
    </button>
    </form>
</div>